*.o
*.so
*.exe
a.out
*.log
logs/
*.tmp
*.swp
*~
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
node_modules/
__pycache__/
*.pyc
config.ini
.env
secrets.txt
database/*
*.csv
*.json
exomizer-*/
exomiser_results/*
result/
dataset/*venv/
*.db
exomiser-cli-14.1.0/
exomiser-cli-14.1.0.zip
